:root {
    --myGreen: #2E7D32;
    --myWhite: #F5F5F5;
    --myRed: #C62828;
    --myYellow: #FFCA28;
    --myBrown: #6D4C41;
    --myGold: #FFC107;
    --myCharcoal: #212121;
    --myBlack: #191919;
    
    --topbarHeight: 150px;
    --sectionContainerHeight: 120px;
    --productHeight: 150px;

    --productImgWidth: 40%;

}

@keyframes shake {
    0%, 50% {
        transform: scale(1.1) rotate(-10deg);
    }
    25%, 75% { 
        transform: scale(1.1) rotate(10deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }
}

* {
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.body {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: var(--topbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--myBlack);
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, var(--myGreen), var(--myWhite), var(--myRed)) 1;
}

.logo-container {
    height: calc(var(--topbarHeight) - 25px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--myWhite);
    border-radius: 50%;
    overflow: hidden;
}

.logo-container:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

#logo {
    height: calc(var(--topbarHeight) - 40px);
}

.logo-text {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3em;
  cursor: default;
  color: var(--myWhite);
}

#instagram {
    color: var(--myWhite);
    font-size: 2em;
    transition: transform .35s ease-in-out;
}

#instagram:hover {
    cursor: pointer;
    transform: scale(1.2);
}



main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--topbarHeight));
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
    margin-top: var(--topbarHeight);
    color: var(--myWhite);
}

.section-container {
    position: sticky;
    top: var(--topbarHeight);
    left: 0;
    z-index: 1;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-image: url('../img/bg.jpg');
    height: var(--sectionContainerHeight);
    overflow-x: auto;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.section img {
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.section p {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--myGold);
    
}

.section:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.floating-cart {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0px 15px 5px #fff;
    background-image: linear-gradient(90deg, var(--myGreen), var(--myWhite), var(--myRed));
    transition: all .35s;
}

#cart-icon {
    font-size: 1.5em;
    color: #000;
    transition: all .35s;
}

.floating-cart:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.floating-cart:hover #cart-icon {
    animation: shake .75s forwards;
}

#pizzas, #calzones, #drinks, #desserts {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 10px var(--myGold);
    scroll-margin-top: calc(var(--topbarHeight) + var(--sectionContainerHeight));
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product {
    min-height: fit-content;
    height: var(--productHeight);
    background-color: #ffffffd0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
}

.product-img {
    max-width: var(--productHeight);
    width: var(--productImgWidth);
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.title-description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.product-title {
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 1.8em;
    color: #000;
}

.product-description {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
}

.blur {
    filter: blur(2px);
}

/* .product-counter {
}

.product-counter span {
} */

/* .section p {
    position: relative;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
    cursor: pointer;
    color: var(--myWhite);
}

.section p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(90deg, var(--myGreen), var(--myWhite), var(--myRed));
    transition: all .2s ease-in-out;
}

.section p:hover::before {
    width: 100%;
} */